div.imageCanvas {
  border: 1px solid darkblue;
  width: 80%;
  height: 400px;
  overflow: hidden;
}

div.canvasContainer {
  border: 1px solid deepskyblue;
}

img#image {
  border: 3px solid red;
}

input.imageURLinput {
  width: 50%;
}
