
<div #editor>
  <hr/>
<!--  <h3>Result</h3>-->
  <app-volpiano-renderer
    [volpiano]="volpiano"
    [text]="fulltext">
  </app-volpiano-renderer>
  <br/>
<!--  <h3>Inputs</h3>-->
  <table class="editorLayoutTable">

    <tr #volpianoInputContainer>
      <td>
        <span style="width: 200px;"><b>Volpiano</b>&nbsp;</span>
      </td>
      <td>
        <textarea #volpianoInput
          [value]="volpiano.volpianoString" (input)="updateVolpiano()"></textarea>
      </td>
    </tr>

    <tr #fulltextInputContainer>
      <td>
        <span style="width: 200px;"><b>Text<br/>(syllabized)&nbsp;</b></span>
      </td>
      <td>
        <textarea #fulltextInput
                  [value]="fulltext" (input)="updateFulltext()"></textarea>
      </td>
    </tr>
  </table>

  <hr/>

  <div #validation>
    <b>Validation</b> <br/><br/>
    Text syllables: {{ textSyllablesCount }}
    <br/>
    Volpiano syllables: {{ volpianoSyllablesCount }}
  </div>
</div>
