textarea {
  width: 80%;
  min-width: 600px;
  font-family: "Courier New", monospace;
}

.volpianoInputTextArea {
  font-family: Volpiano, monospace;
  font-size: 24pt;
}

.editorLayoutTable {
  width: 80%;
}
