<!--<div #preview class="preview">-->
<!--  {{ volpiano.volpianoString }}-->
<!--</div>-->

<!--<div class="chant">-->
<!--  <div *ngFor="let word of alignedWords; let last = last;" class="word">-->
<!--    <div class="wordVolpiano">-->
<!--      {{ word[0].volpianoString }}<ng-container *ngIf="!last">-&#45;&#45;</ng-container>-->
<!--    </div>-->
<!--    <div class="wordText">-->
<!--      {{ word[1] }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="chant">
  <div *ngFor="let cWord of alignedWordsAndSyllables; let wLast = last;" class="word">
    <app-word-view [chantWord]="cWord" [isLastWord]="wLast">
    </app-word-view>
  </div>
</div>
