/* You can add global styles to this file, and also import other style files */

/* Fonts! */
@font-face {
  font-family: "Volpiano";
  src: local("Volpiano"), url(./assets/fonts/volpiano.woff);
}

@font-face {
  font-family: "Volpiano2";
  src: local("Volpiano2"), url(./assets/fonts/volpiano2.woff);
}

